{% extends 'landlord_account/main.html' %}
{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Adjust width here -->
                <div class="card p-4 shadow-sm">
                    <h2 class="mb-4">Landlord Edit</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in user_form %}
                            <div class="mb-3">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% for field in landlord_profile_form %}
                            <div class="mb-3">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Update User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
